
<div class="offers-now py-1">
  <span>We will display if there are any offers here!</span>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-dark shadow">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="../../assets/img/logo/store-logo.png" alt="" /></a>
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content">
      <div class="hamburger-toggle">
        <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </button>

    <div class="collapse navbar-collapse" id="navbar-content">
      <div class="input-group m-auto">
        
        <input type="search" id="form1" class="form-control shadow-none" placeholder="Search a product..." />
        <button type="button" class="btn btn-primary">
          <i class="fas fa-search"></i>
        </button>
      </div>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <small>Hi, Sign in </small>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" routerLink="sign-in"><i class="fas fa-user px-2"></i>Sign In</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="sign-up"><i class="fas fa-edit px-2"></i>Create Account</a>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="orders">
            <small>Orders</small>
          </a>
        </li>
        <li class="nav-item">
          
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-cart-plus px-2"></i>
            <small>Cart</small>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
