@import "../../styles.scss";



.footer {
    h6{
        color: $keppel;
        img{
            width: 200px;
        }
    }
    color: $keppel;
.border-bottom{
    border-bottom-color: $paradiso !important;
}
}